<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhereIsMyIP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B48A46AA1EB24EB5002294A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B48A46C11EB24EC3002294A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B48A46CC1EB24EC8002294A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
